In [1]:
import pandas as pd

In [ ]:
Scores table:
+----+-------+
| id | score |
+----+-------+
| 1  | 3.50  |
| 2  | 3.65  |
| 3  | 4.00  |
| 4  | 3.85  |
| 5  | 4.00  |
| 6  | 3.65  |
+----+-------+

In [5]:
scores = pd.DataFrame([{'id':1, 'score':3.5},
              {'id':2, 'score':3.65},
              {'id':3, 'score':4.00},
              {'id':4, 'score':3.85},
              {'id':5, 'score':4.00},
              {'id':6, 'score':3.65},
                ])

In [13]:
scores[['score']].rank(method='average')

   score
0    1.0
1    2.5
2    5.5
3    4.0
4    5.5
5    2.5

In [14]:
scores[['score']].rank(method='first')

   score
0    1.0
1    2.0
2    5.0
3    4.0
4    6.0
5    3.0

In [15]:
scores[['score']].rank(method='max')

   score
0    1.0
1    3.0
2    6.0
3    4.0
4    6.0
5    3.0

In [16]:
scores[['score']].rank(method='min')

   score
0    1.0
1    2.0
2    5.0
3    4.0
4    5.0
5    2.0

In [17]:
scores[['score']].rank(method='dense')

   score
0    1.0
1    2.0
2    4.0
3    3.0
4    4.0
5    2.0

In [25]:
scores['rank'] = scores[['score']].rank(method='dense', ascending=False)

In [27]:
scores.sort_values(by='rank', ascending=True).reset_index(drop=True)

   id  score  rank
0   3   4.00   1.0
1   5   4.00   1.0
2   4   3.85   2.0
3   2   3.65   3.0
4   6   3.65   3.0
5   1   3.50   4.0

In [ ]:
import pandas as pd

def order_scores(scores: pd.DataFrame) -> pd.DataFrame:
    scores['rank'] = scores['score'].rank(method = 'dense', ascending=False)
    return scores[['score', 'rank']].sort_values(by='rank', ascending=True)