In [ ]:
610. Triangle Judgement
Solved
Easy
Topics
premium lock icon
Companies
SQL Schema
Pandas Schema
Table: Triangle

+-------------+------+
| Column Name | Type |
+-------------+------+
| x           | int  |
| y           | int  |
| z           | int  |
+-------------+------+
In SQL, (x, y, z) is the primary key column for this table.
Each row of this table contains the lengths of three line segments.
 

Report for every three line segments whether they can form a triangle.

Return the result table in any order.

The result format is in the following example.

 

Example 1:

Input: 
Triangle table:
+----+----+----+
| x  | y  | z  |
+----+----+----+
| 13 | 15 | 30 |
| 10 | 20 | 15 |
+----+----+----+
Output: 
+----+----+----+----------+
| x  | y  | z  | triangle |
+----+----+----+----------+
| 13 | 15 | 30 | No       |
| 10 | 20 | 15 | Yes      |
+----+----+----+----------+

In [ ]:
import pandas as pd

def triangle_judgement(triangle: pd.DataFrame) -> pd.DataFrame:
    triangle['max_val'] = triangle[['x', 'y', 'z']].max(axis=1)
    triangle['sum'] =  triangle[['x', 'y', 'z']].sum(axis=1) -  2*triangle['max_val']
    triangle['triangle'] = 'No'
    triangle.loc[ triangle['sum'] > 0, 'triangle'] = 'Yes'
    return triangle[['x','y','z', 'triangle']]